@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --font-mono: var(--font-jetbrains);
}

body {
  background-color: #050505;
  color: #e5e5e5;
}
